		{% if career.links %}
		<a name="{{ career.name }}"></a>
		<div class="line"></div>
		<br>
		<br>
		
    	
    	<div class="career-resource {% if site.animation %}animated{% endif %}">
	            <img alt="{{ career.name }}" src="{{ career.imgurl }}" />
		
		</div>
		<div class="text-justify">
		<p>{% capture m %}{% include md/{{career.desc}} %}{% endcapture %}
			{{ m | markdownify }}</p>
		</div>
		<p>
		Resources:
		{% for link in career.links %}
		{% assign loopindex = forloop.index %}
		<p>
		* <a class="link" data-title="{{ link.name }}" href="{{ link.url }}" target="_blank">
            {{ link.name }}
        </a> {{ link.extra }}</p>
		{% endfor %}
		</p>
		<p class="right"><span class="inline-links"><a class="link" data-title="top..." href="#top">
            <svg class="more-icon more"><use xlink:href="#icon-back"></use></svg>
        </a></span></p>
		<br>
		<br>
		<br>
		<br>
		{% endif %}
        
		

