 <tr>
    <td rowspan="1">
    	<div class="career-image {% if site.animation %}animated{% endif %}">
	        
	            <a class="link" href="{{ career.website }}" target="_blank">
	            <img class="selfie" alt="{{ career.name }}" src="{{ career.imgurl }}" />
	        	</a>
	        
		</div>
	</td>
	<td>
		<p>
		<a class="link" data-title="{{ career.name }}" href="{{ career.website }}" target="_blank">
            {{ career.name }}
        </a><br>
		<em>{{ career.title }}</em>
		
		{% if career.links %}
		<span class="inline-links"><a class="link" data-title="more..." href="#{{ career.name }}">
            <svg class="more-icon more"><use xlink:href="#icon-more"></use></svg>
        </a></span>
        
        {% endif %}
    	
    	</p>
	</td>
</tr>

