<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}



                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>




                <li class="item">
                    <a class="link" href="{{ site.url }}/career">Career</a>
                </li>




                <li class="item">
                    <a class="link" href="{{ site.url }}/thanks">Thanks</a>
                </li>

    </ul>
</nav>
